[Unit]
Description=transactional-update /etc overlay cleaner
Requires=dracut-pre-pivot.service
After=dracut-pre-pivot.service
Before=initrd-cleanup.service
DefaultDependencies=no
ConditionPathExists=/sysroot/var/lib/overlay/transactional-update.newsnapshot

[Service]
Type=oneshot
Environment=DRACUT_SYSTEMD=1
Environment=NEWROOT=/sysroot
StandardInput=null
StandardOutput=syslog
StandardError=syslog+console
ExecStart=/bin/transactional-update-etc-cleaner
