[Unit]
Description=Create missing directories from rpmdb
Documentation=man:create_dirs_from_rpmdb(8)
After=local-fs.target systemd-sysusers.service
Before=systemd-tmpfiles-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/create_dirs_from_rpmdb -v

[Install]
WantedBy=multi-user.target
